[submodule "lPowerProbe"]
	path = lPowerProbe
	url = /home/users/lalexandre/nfs_public/work/sow2-1/gits/lPowerProbe.git/
[submodule "offline/lPowerProbe"]
	path = offline/lPowerProbe
	url = /mnt/nfs_public/work/sow2-1/gits/lPowerProbe.git/
